#logo {
    width: 50px;
    margin-left: 35px;
}

.nav-item{
    margin: 0px 35px;
}

.dropdown-menu {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
  }