.img-gradient {
    position: relative;
}


.img-gradient::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(223, 218, 220);
    background: linear-gradient(180deg, rgba(223, 218, 220, 0.06495098039215685) 7%, rgba(3, 12, 22, 1) 99%);
}



#logoImages{
    width: 99%;
    height: 621px;
    overflow-x: hidden;
}

@media (max-width: 767px) { 
    #logoImages{
        height:335px;
    }

    .carouselExampleCaptions{
        height:330px;
    }
  }